.input-container {
  display: flex;
  /* border: 1px solid grey; */
  border-radius: 10px;
  width: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.input-div {
  width: 100%;
  /* background-color: red; */
  /* background-color: blue; */
  /* display: flex; */
  /* border: 1px solid grey; */
  /* align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.input-box {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid darkolivegreen;
  outline: none;
  box-shadow: none;
}
.title {
  text-align: left;
  align-self: flex-start;
  color: white;
}
