.dash-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-heading {
  margin-bottom: 30px;
  color: aliceblue;
  font-size: xx-large;
}

.dash-sub-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  background: linear-gradient(135deg, #3b5323, #ff9933);
  margin-top: 5%;
  width: 90%;
}

.dash-button {
  /* height: 200px; */
  width: 200px;
  margin-right: 50px;
}

.input-number {
  width: 80%;
  margin-bottom: 30px;
}
